body {
    background-color: #ADD8E6;
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

#paragraph2 {
    background-color: white;
    width: 60%;
    border: 5px solid green;
    padding: 20px;
    margin: 20px;
    line-height: 1.5;
}

.blue {
    color: navy;
}

ol {
    list-style-type: decimal-leading-zero;
}

a {
    color: darkblue;
}

p a {
    color: red;
}

table {
    border-collapse: collapse;
    width: 50%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #D3D3D3;
}

td {
    background-color: white;
}
